body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0;
}
.orenge-color{
    color: orange;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 90%;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    border-radius: 8px;
}

.secend-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}